{% extends "base.html" %}
{% block title %}Student Sign Up{% endblock %}
{% block content %}
<h2>Student Sign Up</h2>
<form method="POST">
    <label>Full name</label>
    <input type="text" name="full_name" required>

    <label>Matric number</label>
    <input type="text" name="matric_no" placeholder="SIT/SWE/23/0024" required>

    <label>Level</label>
    <select name="level" required>
        <option value="100">100 Level</option>
        <option value="200">200 Level</option>
        <option value="300">300 Level</option>
        <option value="400">400 Level</option>
    </select>

    <label>Password</label>
    <input type="password" name="password" required minlength="4">

    <button type="submit">Create account</button>
</form>
<p class="small-note">Already have an account? <a href="{{ url_for('student_login') }}">Sign in</a></p>
{% endblock %}
